.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

body {
    background-color: #282c34;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    margin: 0 2rem;
    color: white;
    overflow: hidden;
}

.App-link {
    color: #61dafb;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}